body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  background-color: #f2f6f8;
}

.top-header {
  color: #ffffff;

  background-color: #293449;
}

.header-item {
  color: #ffffff;
}

.header-item:hover {
  background-color: #212a3a;
}

.header-item:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.order {
  color: #ffffff;

  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-logo,
.header-logo-current {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:focus {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search-input {
  font: inherit;

  background-color: #293449;
  border: none;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus {
  background-color: #ffffff;
}

.header-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login {
  list-style: none;
}

.login-link,
.reg-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-link:hover,
.reg-link:hover {
  color: #ee3643;
}

.login-link:focus,
.reg-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  line-height: 17px;

  background-color: #32425c;
}

.navigation a {
  color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.navigation .current:hover,
.navigation .current:focus {
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}


.company,
.contacts {
  color: #000000;
}

.company p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.transport-list {
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.button {
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.modal {
  display: none;
}

.page-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-logo,
.footer-logo-current {
  background-color: #ee3643;
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:focus {
  background-color: #ba2732;
}

.footer-site-navigation,
.products-navigation,
.footer-social {
  list-style: none;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}


.products-navigation a {
  color: #ffd180;
}

.products-navigation a:hover {
  text-decoration: underline;
}

.products-navigation a:focus {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  font-size: 16px;

  background-color: #293449
}

.footer-social a {
  color: #ffffff;
}

.feedback a,
.developer a {
  color: #ffd180;
}

.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}

.feedback a:focus,
.developer a:focus {
  text-decoration: none;
  color: #ee3643;
}

/*отличающиеся стили для страницы каталога*/

.catalog-body .basket {
  background-color: #ee3643;
}

.catalog-body .basket:hover {
  background-color: #ca2c37;
}

.catalog-body .basket:focus {
  background-color: #ba2732;
}

.user-profile {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

a.user-profile:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-orders,
.user-account {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;

  background-color: #f4f7f9;
}

a.user-orders:hover,
a.user-account:hover {
  color: #ee3643;
}

a.user-orders:focus,
a.user-account:focus {
  color: rgba(50, 66, 92, 0.3);
}

.user-logout {
  display: none;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.page-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.filter-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.catalog h3.visually-hidden {
  display: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  /*box-shadow: inset 1px 1px 0 0 #e5e5e5;*/
}

.catalog-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  font-weight: 700;
  text-decoration: line-through;
  text-transform:uppercase;
  color: #999999;

  background-color: #ffffff;
}

.actual-price {
  font-weight: 700;
  text-transform:uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.button-buy,
.button-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.button-buy {
  color: #ffffff;

  background-color: #63a63e;
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:focus {
  background-color: #518534;
}

.button-bookmarks {
  vertical-align: middle;
  color: #32425c;

  background-color: #ffffff;

  border: 3px solid #63a63e;
}

.button-bookmarks:hover {
  border-color: #32425c;
}

.button-bookmarks:focus {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

.button-apply {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.button-apply:hover {
  border-color: #bdc6ca;
}

.button-apply:focus {
  border-color: #ee3643;
}

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}*/

/*Стили для сеток*/

.page-header {
  width: 100%;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*min-height: 320px;*/
}

.top-header {
  width: 100%;
  margin-bottom: 45px;

  /*min-height: 42px;*/
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-header .container {
  display: flex;
}

.header-logo,
.header-logo-current {
  width: 220px;
  height: 18px;
  padding-top: 13px;
  padding-bottom: 11px;

  text-align: center;
}

.search-input {
  box-sizing: border-box;
  padding-left: 49px;
  width: 270px;
  height: 42px;
}

.search-form {
  position: relative;
}

.search-form::before {
  content: "";

  width: 49px;
  height: 42px;

  /*background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;*/

/*  top: 12px;
  left: 17px;*/
  position: absolute;

  /*opacity: 0.5;*/
  background-color: #293449;
}

.search-form:hover::before {
  /*opacity: 1;*/
  background-color: #212a3a;
}

.search-form:focus::before {
  background-color: #ffffff;
}

.search-form::after {
  content: "";

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  bottom: 12px;
  left: 17px;
  position: absolute;

  opacity: 0.5;
}

.search-form:hover::after {
  opacity: 1;
}

.header-list {
  padding: 0;
  margin: 0;
  width: 450px;
  list-style: none;

  display: flex;
}

.header-list li {
  width: 150px;
  text-align: center;
}

/*В макете ссылка "Закладки" и "Корзина" в родительском блоке находятся не по центру по горизонтали,
а ссылка "Оформить заказ" поцентру. Я же сделал все эти 3 ссылки по центру. По-другому пока не получается.
И еще при увеличении масштаба сайта в браузере top-header и middle-header начинают вываливаться и кнопка корзина пропадает*/
.header-item {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  vertical-align: middle;
}

.bookmarks {
  position: relative;
}

.bookmarks::before {
  content: "";

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 12px;
  left: 17px;
  position: absolute;

  opacity: 0.5;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:focus::before {
  opacity: 0.3;
}

.basket {
  position: relative;
}
.basket::before {
  content: "";

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 12px;
  left: 17px;
  position: absolute;

  opacity: 0.5;
}

.basket:hover::before {
  opacity: 1;
}

.basket:focus::before {
  opacity: 0.3;
}

.middle-header {
  margin-bottom: 40px;

  display: flex;
}

.header-title {
  padding: 0;
  margin: 0;
  width: 197px;
  margin-left: 53px;
  margin-right: 71px;
}

.login {
  padding: 0;
  margin: 0;
}

.navigation {
  margin-bottom: 60px;
}

.navigation-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  box-shadow: inset 0 -5px 0 0 #293449;
}

.navigation-list a {
  display: block;
  padding: 22px 30px;

  vertical-align: middle;
 }

.page-content {
  margin-bottom: 85px;
  width: 100%;
}

.page-content .container {
  display: flex;
  justify-content: space-between;
}

.title,
.company p,
.contacts p,
.transport-list {
  margin: 0;
  padding: 0;
  /*margin-bottom: 40px;*/
}

.company {
  width: 535px;
  height: 395px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  width: 300px;
  height: 395px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer {
  width: 100%;
}

.page-footer>.container {
  min-height: 193px;

  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-logo,
.footer-logo-current {
  width: 220px;
  height: 22px;
  margin-bottom: 25px;
  padding-top: 21px;
  padding-bottom: 26px;

  text-align: center;

  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-contacts {
  margin: 0px;
  padding: 0px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-site-navigation {
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: flex-end;
}

.products-navigation {
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: flex-end;
}

.footer-site-navigation li {
  margin-left: 60px;
}

.products-navigation li {
  margin-left: 60px;
}

.footer-bottom .container {
  min-height: 107px;

  display: flex;
  justify-content: space-between;
}

.catalog-body header{
  margin-bottom: 21px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  width: 358;

  display: flex;
  /*min-height: 17px;*/
}

.inner-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-title {
  padding: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 220px;
}

.index-row {
  width: 700px;
}

.catalog-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 218px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}
