body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  background-color: #f2f6f8;
}

.top-header {
  color: #ffffff;

  background-color: #293449;
}

.header-item {
  color: #ffffff;
}

.header-item:hover {
  background-color: #212a3a;
}

.header-item:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.order {
  text-align: center;

  color: #ffffff;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-logo,
.header-logo-current {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:focus {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search-input {
  font: inherit;

  background-color: #293449;
  border: none;

  width: 270px;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-left: 49px;
  box-sizing: border-box;
  cursor: pointer;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus {
  background-color: #ffffff;
}

.search-form {
  position: relative;
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-input:hover + svg path {
  fill: #ffffff;
}

.search-input:focus + svg path {
  fill: #ee3643;
}

.header-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  margin-bottom: 5px;
  padding: 9px 49px 9px 71px;
  border: 3px solid #ffffff;
  width: 270px;

  display: block;
  box-sizing: border-box;

  position: relative;
}

.header-phone::before {
  content: "";

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 10px;
  left: 12px;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  margin: 0;
  padding: 0;
  text-align: center;
}

.login {
  list-style: none;

  padding: 0;
  margin: 0;
  margin-left: 69px;
  width: 281px;

  display: flex;
  justify-content: space-between;
}

.login-link,
.reg-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;

  display: block;
  padding: 12px 25px;

  box-sizing: border-box;
}

.login-link {
  width: 121px;
  padding-left: 48px;

  position: relative;
}

.reg-link {
  width: 150px;
}

.login-link::before {
  content: "";

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 14px;
  left: 14px;
}

.login-link:hover,
.reg-link:hover {
  color: #ee3643;
}

.login-link:hover::before {
  background-image: url("../img/icon-login-blue.svg");
}

.login-link:focus,
.reg-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.login-link:focus::before {
  background-image: url("../img/icon-login.svg");
}

.user-menu {
  list-style: none;

  padding: 0;
  margin: 0;
  margin-left: 50px;
  width: 300px;
}

.user {
  position: relative;
}

.user-profile {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  display: block;

  background-color: #ffffff;

  margin: 0;
  padding: 12px 60px 12px 48px;
  margin-bottom: 8px;

  cursor: pointer;
}

.user-profile:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile::before {
  content: "";
  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 13px;
  left: 14px;
}

.user-profile:hover::before {
  background-image: url("../img/icon-user-blue.svg");
}

.user-profile:focus::before {
  background-image: url("../img/icon-user.svg");
}

.user-logout {
  width: 42px;
  height: 45px;

  background-color: #ffffff;

  position: absolute;
  right: 0px;
  top: 0px;
}

.user-logout svg {
  position: absolute;
  top: 14px;
  right: 11px;
}

.user-logout:hover path {
  fill: #32425c;
}

.user-logout:focus path {
  fill: #c5c5c5;
}

/*.user-logout svg:hover {
  fill: #32425c;
}*/

/*.user-profile::after {
  content: "";
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 14px;
  right: 11px;
}*/

.user-menu .index-row {
  width: 300px;

  display: flex;
}

.user-orders {
  padding-left: 18px;
}

.user-account {
  padding-left: 32px;
  position: relative;
}

.user-account::before {
  content: "";
  width: 4px;
  height: 4px;

  background-color: #32425c ;

  position: absolute;
  top: 8px;
  left: 16px;

  border-radius: 50%;
}

.navigation {
  line-height: 17px;

  background-color: #32425c;
}

.navigation a {
  color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation a:not(.current):hover {
  background-color: #293449;
}

.navigation a:not(.current):focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.company,
.contacts {
  color: #000000;
}

.company p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.transport-list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.transport-list li {
  padding-left: 36px;
  margin-bottom: 17px;

  position: relative;
}

.transport-list li:last-child {
  padding-bottom: 0;
}


.transport-list li::before {
  content: "";

  width: 25px;
  height: 2px;

  background-color: #ee3643;

  position: absolute;
  left: 0;
  top: 7px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;

  display: block;
  box-sizing: border-box;
  height: 38px;
  padding: 11px 0px 9px;
  border: 0;
  border-radius: 3px;

  cursor: pointer;
}

.company-button {
  align-self: flex-start;
  width: 220px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

/*.modal {
  display: none;
}*/

.page-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-logo,
.footer-logo-current {
  background-color: #ee3643;
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:focus {
  background-color: #ba2732;
}

.footer-site-navigation,
.products-navigation,
.footer-social {
  list-style: none;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:not(.current):hover {
  text-decoration: underline;
}

.footer-site-navigation a:not(.current):focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}


.products-navigation a {
  color: #ffd180;
}

.products-navigation a:hover {
  text-decoration: underline;
}

.products-navigation a:focus {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.bottom-footer {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449
}

.feedback a,
.developer a {
  color: #ffd180;
}

.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}

.feedback a:focus,
.developer a:focus {
  text-decoration: none;
  color: #ee3643;
}

/*отличающиеся стили для страницы каталога*/

.catalog-body .basket {
  background-color: #ee3643;
}

.catalog-body .basket:hover {
  background-color: #ca2c37;
}

.catalog-body .basket:focus {
  background-color: #ba2732;
}

.user-orders,
.user-account {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;

  background-color: #f4f7f9;
}

a.user-orders:hover,
a.user-account:hover {
  color: #ee3643;
}

a.user-orders:focus,
a.user-account:focus {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:last-child {
  padding-left: 43px;
}

.breadcrumbs li:nth-child(3) {
  padding-left: 39px;
 }

.breadcrumbs li:nth-child(2) {
  padding-left: 39px;
}

.breadcrumbs li:first-child {
  padding-left:  15px;
}

.home-button {
  width: 14px;
  height: 12px;

  background-image: url('../img/icon-home.svg');

  position: absolute;
  left: 0;
  top: 3px;
}

.breadcrumbs li:last-child::before {
  content: "";

  width: 7px;
  height: 12px;

  background-image: url('../img/icon-right-small.svg');

  position: absolute;
  right: 106px;
  top: 3px;
}

.breadcrumbs li:nth-child(3)::before {
  content: "";

  width: 7px;
  height: 12px;

  background-image: url('../img/icon-right-small.svg');

  position: absolute;
  right: 94px;
  top: 3px;
}

.breadcrumbs li:nth-child(2)::before {
  content: "";

  width: 7px;
  height: 12px;

  background-image: url('../img/icon-right-small.svg');

  position: absolute;
  right: 71px;
  top: 3px;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;

  display: block;
}

.page-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter,
.sort {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.filter-title,
.sort-title {
  margin: 0;
  padding: 10px 0px 10px 19px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;

  box-sizing: border-box;
}

.filter-fieldset {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  border: none;

  position: relative;
}

.filter-fieldset::before {
  content: "";
  background-color: #e5e5e5;
  position: absolute;
  left: 0;
  top: -20px;
  width: 220px;
  height: 1px;
}

.price.filter-fieldset::before {
  display: none;
}


.sort-title {
  height: 38px;
}

.filter-title {
  width: 220px;
  height: 38px;
}

.filter legend {
  margin-bottom: 12px;

  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filter-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-list li {
  margin-bottom: 15px;
}

.filter-option label {
  padding: 3px 0px 3px 35px;

  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";

  width: 26px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  position: absolute;
  top: 2px;
  left: 0;
}

.filter-input-checkbox:hover + label::before {
  background-image: url(../img/checkbox-off-hover.svg);
}

.filter-input-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:checked:hover + label::before {
  background-image: url(../img/checkbox-on-hover.svg);
}

.filter-input-checkbox:disabled + label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-input-radio + label::before {
  content: "";

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  position: absolute;
  top: 1px;
  left: 0;
}

.filter-input-radio:hover + label::before {
  background-image: url(../img/radio-off-hover.svg);
}

.filter-input-radio:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-input-radio:checked:hover + label::before {
  background-image: url(../img/radio-on-hover.svg);
}

.filter-input-radio:disabled + label::before {
  background-image: url(../img/radio-off-disabled.svg);
}

.filter-input-radio:checked:disabled + label::before {
  background-image: url(../img/radio-on-disabled.svg);
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.catalog h3.visually-hidden {
  display: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  font-weight: 700;
  text-decoration: line-through;
  text-transform:uppercase;
  color: #999999;

  background-color: #ffffff;
}

.actual-price {
  font-weight: 700;
  text-transform:uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.buy-button,
.bookmarks-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.buy-button {
  color: #ffffff;

  background-color: #63a63e;
}

.buy-button:hover {
  background-color: #5fbb2d;
}

.buy-button:focus {
  background-color: #518534;
  box-shadow: none;
}

.bookmarks-button {
  color: #32425c;

  background-color: #ffffff;

  border: 3px solid #63a63e;

  cursor: pointer;
}

.bookmarks-button:hover {
  border-color: #32425c;
}

.bookmarks-button:focus {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

.apply-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  width: 140px;
  margin: 0px;
  padding: 9px 38px;
  margin-top: 30px;

  box-sizing: border-box;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.apply-button:hover {
  border-color: #bdc6ca;
}

.apply-button:focus {
  border-color: #ee3643;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Стили для сеток*/

.page-header {
  width: 100%;
  margin-bottom: 59px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*min-height: 320px;*/
}

.top-header {
  width: 100%;
  margin-bottom: 46px;

  /*min-height: 42px;*/
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-header .container {
  display: flex;
}

.header-logo,
.header-logo-current {
  width: 220px;
  height: 18px;
  padding-top: 13px;
  padding-bottom: 11px;

  text-align: center;
}

.header-list {
  padding: 0;
  margin: 0;
  width: 450px;
  list-style: none;

  display: flex;
}

.header-item {
  display: block;

  box-sizing: border-box;
  width: 150px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bookmarks {
  position: relative;

  padding-left: 44px;
}

.bookmarks::before {
  content: "";

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 12px;
  left: 17px;
  position: absolute;

  opacity: 0.5;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:focus::before {
  opacity: 0.3;
}

.basket {
  position: relative;

  padding-left: 50px;
}

.basket::before {
  content: "";

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 12px;
  left: 18px;
  position: absolute;

  opacity: 0.5;
}

.basket:hover::before {
  opacity: 1;
}

.basket:focus::before {
  opacity: 0.3;
}

.middle-header {
  margin-bottom: 40px;

  display: flex;
}

.header-title {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 71px;
  margin-top: 3px;
}

.navigation {
  margin-bottom: 60px;
}

.navigation-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  box-shadow: inset 0 -5px 0 0 #293449;
}

.navigation-list a {
  display: block;
  padding: 21px 31px 22px;

  vertical-align: middle;
 }

.page-content {
  width: 100%;
}

.company-contacts-row {
  display: flex;
  justify-content: space-between;
}

.company .text-row,
.contacts .text-row {
  display: flex;
  flex-direction: column;
}

.title,
.company p,
.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.company {
  max-width: 520px;
  min-height: 370px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  max-width: 300px;
  min-height: 370px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.page-footer {
  width: 100%;
  margin-top: 105px;
}

.top-footer .container {
  display: flex;
  margin-bottom: 30px;
}

.footer-logo,
.footer-logo-current {
  width: 220px;
  height: 22px;
  padding-top: 21px;
  padding-bottom: 26px;

  text-align: center;

  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);

  flex-shrink: 0;
}

.footer-site-navigation {
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-bottom: 5px;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
}

.footer-site-navigation li {
  margin-left: 60px;
}

.middle-footer .container {
  display: flex;
  margin-bottom: 52px;
}

.footer-contacts {
  margin: 0px;
  padding: 0px;
  flex-shrink: 0;
}

.products-navigation {
  margin: 0px;
  padding: 0px;
  margin-left: auto;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.products-navigation li {
  margin-left: 60px;
}

.bottom-footer {
  width: 100%;
}

.bottom-footer .container {
  min-height: 105px;

  display: flex;
  align-items: center;
}

.footer-copyright,
.footer-social,
.feedback,
.developer {
  margin: 0;
  padding: 0;
}

.footer-copyright {
  margin-right: 161px;
}

.footer-social {
  width: 132px;
  margin-right: 119px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  width: 42px;
  height: 42px;

  background-color: #212a3a;

  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 5;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button.vk::before {
  content: "";

  width: 26px;
  height: 15px;

  background-image: url('../img/icon-vk.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  left: 7px;
  top: 13px;
}

.social-button.facebook::before {
  content: "";

  width: 12px;
  height: 22px;

  background-image: url('../img/icon-fb.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  left: 15px;
  top: 10px;
}

.social-button.instagram::before {
  content: "";

  width: 21px;
  height: 21px;

  background-image: url('../img/icon-insta.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  right: 10px;
  top: 10px;
}

.feedback {
  margin-right: 53px;
}

.developer {
  margin-right: auto;
}

.catalog-body header{
  margin-bottom: 21px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  width: 358;

  display: flex;
  /*min-height: 17px;*/
}

.inner-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-title {
  padding: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 220px;
}

.index-row {
  width: 700px;
}

.catalog-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 218px;

  border: 1px solid #e5e5e5;
  /*box-shadow: inset 1px 1px 0 0 #e5e5e5;*/

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-title {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-category span,
.catalog-item-name {
  text-transform: uppercase;
}

.basket-bookmarks {
  position: absolute;
  top: -1px;
  left: 0;

  /*box-sizing: border-box;*/
  width: 177px;
  height: 91px;
  padding: 44px 0;
  padding-left: 42px;

  background-color: #ffffff;
  z-index: 4;
}

.buy-button,
.bookmarks-button {
  width: 135px;
  height: 38px;

  display: block;
  box-sizing: border-box;
  border-radius: 3px;
}

.buy-button {
  padding: 12px 45px 8px 49px;
  margin-bottom: 7px;

  position: relative;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.buy-button::before {
  content: "";

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;

  position: absolute;
  top: 11px;
  left: 12px;
}

.buy-button:hover::before,
.buy-button:focus::before {
  opacity: 1;
}

.basket-bookmarks {
  display: none;
}

.catalog-item:hover .basket-bookmarks {
  display: block;
}

.catalog-item:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.old-price {
  height: 18px;
  margin-bottom: 10px;
}

.actual-price {
  text-align: center;

  width: 141px;
  padding: 10px 0;
  margin: 0;
  margin-bottom: 20px;

  position: relative;

  border-radius: 3px;
}

.actual-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -19px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.new::before {
  content: "";

  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  z-index: 3;

  background-image: url("../img/new flag.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-image: url('../img/icon-close.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-write-us {
  width: 620px;
  min-height: 430px;
  padding: 47px 80px 37px;
  z-index: 7;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75), inset 0 -112px 0 #f4f4f4;
  border-top: 7px solid #ff5257;

  display: none;
}

.write-us-row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 19px;
}

.write-us-item {
  padding: 0;
  margin: 0;
}

.write-us-item.message {
  margin-bottom: 74px;
}

.write-us-item label {
  display: block;
  margin-bottom: 10px;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"],
.write-us-item textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  box-sizing: border-box;
  padding: 8px 14px;

  border: solid 2px #dee3e4;
  border-radius: 3px;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"] {
  width: 220px;
}

.write-us-item textarea {
  display: block;

  width: 460px;
  height: 114px;
  resize: none;
}

.send-button {
  width: 460px;
}

.modal-map {
  box-shadow: 0px 0px 16px rgba(47, 42, 43, 0.5);
  z-index: 6;

  display: none;
}

.modal-map div {
  width: 940px;
  height: 446px;
}

.modal-in-basket {
  width: 620px;
  min-height: 282px;
  padding: 47px 80px 37px;
  z-index: 8;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75), inset 0 -112px 0 #f1f1f1;
  border-top: 7px solid #ee3643;

  display: none;
}

.modal-in-basket p {
  margin: 0;
  padding: 0;
  padding: 19px 46px 19px 99px;
  margin-bottom: 85px;

  font-size: 30px;
  line-height: 30px;

  position: relative;
}

.modal-in-basket p::before {
  content: "";

  width: 66px;
  height: 66px;

  position: absolute;
  top: 1px;
  left: 1px;

  background-image: url('../img/icon-mark.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.in-basket-row {
  display: flex;
}

.continue-button {
  width: 220px;

  color: #000000;
  background-color: #ffffff;
}

.order-button {
  width: 220px;
  margin-right: 20px;
}

.continue-button:hover,
.continue-button:focus {
  background-color: #ffffff;
}

/*СТИЛИ ПРОМОБЛОКА*/

.promo {
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
}

.promo-top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promo-bottom-row {
  display: flex;
  justify-content: space-between;
}

.promo-column {
  display: flex;
  flex-direction: column;
}

.discount.promo-block {
  margin-bottom: 20px;
}

.promo-block {
  box-sizing: border-box;
  width: 300px;
  height: 123px;

  position: relative;
}

.materials {
  background-color: #ffbf47;
}

.new.materials::before {
  top: 0;
  right: 0;
}

.materials::after {
  content: "";

  width: 44px;
  height: 65px;

  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  right: 43px;
  top: 31px;
}

.tool {
  background-color: #3bbce3;
}

.tool::before {
  content: "";

  width: 75px;
  height: 61px;

  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  right: 28px;
  top: 33px;
}

.equipment {
  background-color: #dc91d8;
}

.equipment::before {
  content: "";

  width: 78px;
  height: 64px;

  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  right: 31px;
  top: 31px;
}

.discount {
  background-color: #8ed78f;
}

.discount::before {
  content: "";

  width: 59px;
  height: 72px;

  background-image: url('../img/icon-4.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  right: 45px;
  top: 26px;
}

.delivery {
  background-color: #ffc047;
}

.delivery::before {
  content: "";

  width: 80px;
  height: 63px;

  background-image: url('../img/icon-5.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  right: 31px;
  top: 32px;
}

.promo-block span {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  display: block;

  margin: 20px 0 12px 23px;
}

.promo-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);

  display: block;
  box-sizing: border-box;
  height: 38px;
  margin-left: 25px;
  padding: 11px 0px 9px;
  width: 135px;
  border: 0;
  border-radius: 3px;

  cursor: pointer;
}

.promo-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.equipment .promo-button,
.discount .promo-button,
.delivery .promo-button {
  margin-left: 23px;
}

/*СТИЛИ СЛАЙДЕРА */

.puncher {
  /*display: none;*/
}

.drill {
  /*display: none;*/
}

.slider {
  box-sizing: border-box;
  width: 620px;
  height: 266px;
  position: relative;
}

.tabs,
.slider-control,
.slide p,
.slide h3,
.slide img,
.slider .button {
  position: absolute;
}

.slide h3,
.slide p {
  margin: 0;
  padding: 0;
}

.slider .button  {
  top: 206px;
  left: 25px;
  width: 195px;
}

.slide h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;

  left: 26px;
  top: 22px;
}

.slide p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  left: 26px;
  top: 60px;
}

.tabs {
  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;
  top: 114px;

  background-color: transparent;

  border: none;

  cursor: pointer;
}

.left {
  background-image: url('../img/icon-left.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 25px;
}

.right {
  background-image: url('../img/icon-right.svg');
  background-position: 0 0;
  background-repeat: no-repeat;

  right: 20px;
}

.slider-control {
  display: flex;

  left: 295px;
  bottom: 36px;
}

.control {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;

  background-color: #ffffff; 

  border: 2px solid #ffffff;
  border-radius: 50%; 

  cursor: pointer;
}

.control.one {
  margin-right: 10px;
  background-color: #ee3643;
}

/*СТИЛИ ПОПУЛЯРНЫХ ТОВАРОВ*/

.products-brands-row {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 940px;
  height: 89px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 25px 24px 26px 30px;

  background-color: #f9f5f0;
}

.popular-products .title,
.popular-brands .title {
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

.popular-products .button,
.popular-brands .button {
  width: 253px;
}

.popular-products-list {
  list-style: none;

  margin: 0;
  padding: 0;
  width: 940px;

  display: flex;
  flex-wrap: wrap;
}

.popular-products-list .catalog-item:nth-child(4n) {
  margin-right: 0;
}

/*СТИЛИ ПОПУЛЯРНЫХ ПРОИЗВОДИТЕЛЕЙ*/

.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-list {
  list-style: none;

  margin: 0;
  padding: 0;
  width: 940px;

  display: flex;
  flex-wrap: wrap;
}

.popular-brands-list li {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-brands-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-brand {
  display: block;

  margin: 0;
  padding: 0;
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.popular-brand:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brand:focus {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/*СТИЛИ СЕРВИСОВ*/

.services {
  background-color: #f4f8f9;

  box-sizing: border-box;
  margin-bottom: 80px;
  padding-top: 65px;
  min-height: 522px;

}

.about-us {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 398px;
}

.services-list {
  list-style: none;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

  margin: 0;
  padding: 47px 0;
}

.services-list li {
  color: #ffffff;
  background-color: #32425c;

  width: 240px;
  height: 62px;
  padding: 15px 0;
  padding-left: 22px;
  box-sizing: border-box;
  border-top: 1px solid #41516a;
  border-bottom: 1px solid #2b364a;
}

.services-list li:hover {
  color: #ffffff;
  background-color: #293449;
}

.services-list li:active {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.services-row {
  display: flex;
  justify-content: space-between;
}

.services-slider {
  width: 618px;
}

.service-delivery {
  min-height: 284px;
  padding-top: 47px;

  background-image: url('../img/delivery.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  /*display: none;*/
}

.service-guarantee {
  display: none;
}

.service-credit {
  display: none;
}

.service-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.service-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  width: 275px;
  margin: 0;
  padding: 0;
}

.Доставка__Мы_с_удовольствием_доставим_ваш_товар {
  font-size: 36px;
  font-family: "Cuprum";
  color: rgb( 50, 66, 92 );
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 450px;
  top: 2064.118px;
  width: 275px;
  height: 147px;
  z-index: 73;
}


.Layer_118_copy {
  background-image: url("Layer 118 copy.png");
  opacity: 0.251;
  position: absolute;
  left: 360px;
  top: 1985px;
  width: 10px;
  height: 279px;
  z-index: 59;
}




/** {
  outline: 0;
}
*/
