body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.page-header {
  background-color: #f2f6f8;
}

.top-header {
  color: #ffffff;

  background-color: #293449;
}

.header-item {
  color: #ffffff;
}

.header-item:hover {
  background-color: #212a3a;
}

.header-item:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.order {
  color: #ffffff;

  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-logo {
  background-color: #ee3643;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:focus {
  background-color: #ba2732;
}

.search-input {
  font: inherit;

  background-color: #293449;
  border: none;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus {
  background-color: #ffffff;
}

.header-title {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login {
  list-style: none;
}

.login-link,
.reg-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-link:hover,
.reg-link:hover {
  color: #ee3643;
}

.login-link:focus,
.reg-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  line-height: 17px;

  background-color: #32425c;
}

.navigation a {
  color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.company,
.contacts {
  color: #000000;
}

.company p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.transport-list {
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.button {
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.modal {
  display: none;
}

.page-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:focus {
  background-color: #ba2732;
}

.footer-site-navigation,
.products-navigation,
.footer-social {
  list-style: none;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}


.products-navigation a {
  color: #ffd180;
}

.products-navigation a:hover {
  text-decoration: underline;
}

.products-navigation a:focus {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  font-size: 16px;

  background-color: #293449
}

.footer-social a {
  color: #ffffff;
}

.feedback a,
.developer a {
  color: #ffd180;
}

.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}

.feedback a:focus,
.developer a:focus {
  text-decoration: none;
  color: #ee3643;
}

/*отличающиеся стили для страницы каталога*/

.catalog-body .basket {
  background-color: #ee3643;
}

.catalog-body .basket:hover {
  background-color: #ca2c37;
}

.catalog-body .basket:focus {
  background-color: #ba2732;
}

.user-profile {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

a.user-profile:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-orders,
.user-account {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;

  background-color: #f4f7f9;
}

a.user-orders:hover,
a.user-account:hover {
  color: #ee3643;
}

a.user-orders:focus,
a.user-account:focus {
  color: rgba(50, 66, 92, 0.3);
}

.user-logout {
  display: none;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.page-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.filter-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.catalog h3 {
  display: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  font-weight: 700;
  text-decoration: line-through;
  text-transform:uppercase;
  color: #999999;

  background-color: #ffffff;
}

.actual-price {
  font-weight: 700;
  text-transform:uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.button-apply {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.button-apply:hover {
  border-color: #bdc6ca;
}

.button-apply:focus {
  border-color: #ee3643;
}

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}*/

